{{page-title "Home"}}

<div class="container">
    <header>
        <h1>Simple, traffic-based pricing</h1>
    </header>

    <main>
        main
    </main>

    <footer>
        footer
    </footer>

</div>