<input class="checkbox blue" id="checkbox2" type="checkbox" />
<label for="checkbox2" class="checkbox-label">
  <span class="on">Monthly billing</span>
  <span class="off">Yearly billing <span class="discount-tag">25% discount</span></span>
</label>