$dark-blue: #292e40;
$grey-blue: #7a8299;
$pale-blue: #c0c9f4;
$manrope-font: 'Manrope', sans-serif;

body {
    background-color: #f9faff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 600;
	text-rendering: optimizeLegibility; 
	font-family: $manrope-font;
	font-size: 16px;
	line-height: 20px;
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    font-family: $manrope-font;
    color: $dark-blue;
    margin-bottom: 20px;
    line-height: 32px;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    font-family: $manrope-font;
    color: $grey-blue;
}

h3 {
    text-transform: uppercase;
    color: $grey-blue;
    font-family: $manrope-font;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 34px;
    padding-top: 5px;
}

p {
    color: $grey-blue;
    font-size: 15px;
}

.small {
    font-size: 12px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.background-wrap {
    background-color: #f1f5fe;
    height: 400px;
    z-index: 2;
    -webkit-border-bottom-left-radius: 170px;
    -moz-border-radius-bottomleft: 170px;
    border-bottom-left-radius: 170px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 85px 0px;
}

.header-wrap {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header"; 
    width: 545px;
    margin: 0 auto;
  }

.header { 
    grid-area: header; 
    text-align: center;
    padding: 90px 0px 60px 0px;
    background: url('../images/pattern-circles.svg') no-repeat center;
}

.main-wrap{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    //grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "box-1 box-2"
      "box-3 box-3"
      "box-4 box-4"
      "box-5 box-6"; 
    
    background: #fff;
    z-index: 1;
    width: 545px;
    margin: 0 auto;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    box-shadow: 1px 10px 19px 2px rgba(234,236,248,0.90);
    -webkit-box-shadow: 1px 10px 19px 2px rgba(234,236,248,0.90);
    -moz-box-shadow: 1px 10px 19px 2px rgba(234,236,248,0.90);

}

.box-1 { grid-area: box-1; }
.box-2 { grid-area: box-2; }
.box-3 { grid-area: box-3; }
.box-4 { grid-area: box-4; }
.box-5 { grid-area: box-5; }
.box-6 { grid-area: box-6; }

.flex-box {
    padding: 30px 40px 0px 40px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.box {
    padding: 10px 40px 0px 40px;
}

.bottom-section {
    border-top: 1px solid #f1f0f5;
    height: 66px;
    padding-bottom: 30px;
}

ul.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    
    li{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 15px;
        color: $grey-blue;
    }

    li:last-child{
        margin-bottom: 0px;
    }
}

.icon-check {
    background: url('../images/icon-check.svg') no-repeat left center; 
    padding: 0px 0px 0px 20px;
    height: 12px;
}

.price {
    font-size: 34px;
    line-height: 34px;
    font-weight: 800;
    color: $dark-blue;
    margin-right: 10px;
}

.discount-tag {
    color: #e7a494;
    background: #ffeee7;
    font-weight: bold;
    font-size: 9px;
    padding: 2px 7px;
    margin-left: 5px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}



// Media Queries
// Mobile
@media (max-width: 576px) {
    .container{
        padding: 0px 25px 50px 25px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    .main-wrap{ 
        display: grid; 
        grid-template-columns: 1fr; 
        //grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "box-1"
          "box-3"
          "box-2"
          "box-4"
          "box-5"
          "box-6"; 
        width: 100%;
    }

    .header-wrap {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header"; 
        width: 100%;
    }

    .box-5 {
        border-top: 1px solid #f1f0f5;
        padding-top: 30px;
    }

    .bottom-section:last-child {
        border-top: none;
        padding-top: 0;
        height: auto;
        margin: 0 auto;
        display: inline-block;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}


